.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px 50px;
  align-items: center;
  font-size: 18px;
}

.header_menu {
  display: flex;
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  text-underline-offset: 4px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header_logo {
  justify-self: center;
}

.header_logo_image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  width: 100%;
  line-height: 24.3px;
  font-style: normal;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
}

.cover_title {
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 30px;
  gap: 20px;
  margin-bottom: 106px;
}

.aligned_text {
  align-self: flex-start;
}

.aligned_text_center {
  align-self: center;
  margin-right: -30px;
}

.aligned_text_right {
  align-self: flex-end;
  margin-right: -30px;
}

.cover__description {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}

.cover__description_text {
  word-spacing: 18.5px;
  justify-content: space-between;
  color: white;
  font-size: 22px;
}

.bet_button {
  background-color: transparent;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  color: white;
  font-size: 22px;
}

.lots {
  padding: 180px 24px 0 24px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  padding: 0 173px 27px 40px;
}

.lots__card_list {
  display: flex;
  gap: 25px;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card_list_item {
  width: 334px;
  min-height: 596px;
}

.card_link {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: space-between;
  z-index: 1;
  padding: 48px 40px 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  text-underline-offset: 3px;
}

.card__text {
  font-size: 20px;
  color: white;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look_more_link {
  display: block;
  font-size: 20px;
  margin: 30px 820px 0px 40px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 120px 24px 0 24px;
  gap: 25px;
}

.about_column {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin-top: 35px;
}

.about__logo_image {
  width: 148px;
  height: 114px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 18px;
  padding: 180px 50px 82px 50px;
}

.footer_address {
  justify-self: start;
}

.footer_menu {
  display: flex;
  justify-self: center;
}

.footer__menu_list {
  list-style: none;
}

.footer__menu_list_item {
  text-align: center;
}

.footer__menu_link {
  text-underline-offset: 4px;
}

.footer__menu_link_active {
  text-decoration: none;
}

.footer__social_list {
  display: flex;
  gap: 48px;
  justify-self: flex-end;
}

.footer__social_list_item {
  list-style: none;
}

.footer__social_icon {
  width: 48px;
  height: 48px;
}
